@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    <span data-i18n="ResetConf_Text_Pre">Your password has been reset. Please </span><a asp-page="./Login"><span data-i18n="ResetConf_Link">click here to log in</span></a><span data-i18n="ResetConf_Dot">.</span>
</p>


<script src="~/js/identity-i18n.js" asp-append-version="true"></script>
